<!DOCTYPE html>

<html>
    <head>
        <title>tagger's first title</title>
    </head>

    <body>
        <p>Test me world!</p>
        <h1>tagger</h1>
        <p>welcome, {{content}}</p>
        <p>{{r}}</p>
        <p>{{list}}</p>
        {% for x in list %}
            {% if r == 2 %}
                <p>THE RATS HAVE INVADED THE WHITE HOUSE</p>
                <p>THE RATS HAVE INVADED THE WHITE HOUSE</p>
                <p>THE RATS HAVE INVADED THE WHITE HOUSE</p>
            {% elif r == 0 %}
                <p>I HAVE EAT COMMUNISM</p>    
            {% endif %}
        {% endfor %}
    </body>
</html>