<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <title>{{users.username}}'s page @ MARISASPACE</title>
    <link rel="stylesheet" href="style.css" type="text/css">

</head>

<body>
    <div id="masthead">
        <div>
            <h1 class="MARISASPACE_header"><i>=MARISASPACE=</i>


                <a href="#" id="utility">Welcome, {{users.username}}</a>
            </h1>
        </div>

        <div id="navigation">
            <div id="globalLink">
                <a href="/" class="glink">Home</a><a href="/users" class="glink">Users</a><a href="/blog" class="glink">Blog</a><a href="/random" class="glink">Random</a><a href="/news" class="glink">News</a><a href="/edit" class="glink">Preferences</a>
                <a href="/logout" class="glink">Logout</a>
            </div>


        </div>
    </div>
    <div class="fixed">

        <div id="breadCrumb">
            <p><a href="#">Login</a> / </p>
        </div>

        <div class="login">
            <u>
            </u>
            <form action="" method="post" novalidate=""><u>
                   <input id="csrf_token" name="csrf_token" type="hidden" value="IjQ2ODYyNjc0OWY1ZjZjNmM4NTIzNTFmNjlhMTAwNTk3ODk3OThkNWQi.YUYQCg.00sAJn3pRRB-pbwGO2dPFuJ46nE">
                   </u>
                <p><u></u><i style="color: red;">please login with your id number!!</i></p>
                <u>
               <p>
                       <label for="loginid">id</label><br>
                       <input id="loginid" name="loginid" placeholder="ID..." required="" size="32" type="text" value="" style="width: 30%;">
                       
                       <u>
                   </u></p><u>
                   <p>
                       <label for="password">password</label><br>
                       <input id="password" name="password" placeholder="Password..." required="" size="32" type="password" value="" style="width: 30%;">
                       
                       
                   </p>
                   </u>
                </u>
                <small>
                   <input id="submit" name="submit" type="submit" value="login" style="width: 10%;">
                   <input id="remember" name="remember" type="checkbox" value="y"> <label for="remember">remember me</label>
                </small>
            </form>

        </div>


        <div id="siteInfo">
            <a href="# ">About</a> | <a href="mailto:admin@chiyo.org ">Contact</a> | <a href="/news ">News</a> | <a href="# ">Contact Us</a> | (9) 2004 MARISASPACE</div>

    </div>
</body>

</html>