body, #body {
	background:#A7AFA7 url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/bg-da4.gif) no-repeat .8cm .5cm;
}
html, body, * html td, * html th {
	color:#000;
}
a:link, .output-primary .section input.beacon {
	color:#3B4A4A;
}
a:visited {
	color:#404E4E;
}

span.help {
	cursor:help;
	border-bottom:1px solid #F0F0F0;
}

/* lazy */
div.warning .ctrl {
    border-style:solid;
    background:#BBC2BB;
    border-color:#4A584A;
    margin:0 auto 25px auto;
    width:400px;
    padding:7px 15px;
    font-size:110%;
}
* html div.warning {
    text-align:center;
}
* html div.warning .ctrl {
    text-align:left;
}


#nav-west ul a, ul.funk a {
	border-color:#8C968C;
}
#nav-west ul li a:hover, #nav-west ul li a:focus, #nav-west ul li a:active,
ul.funk li a:hover, ul.funk li a:focus, ul.funk li a:active {
	border-color:#738278
}
strong.hell {
	color:#E00;
}
fieldset, div, span, h1, h2, h3, h4, h5, h6, table, th, td, ul, ol, dl, li, dt, dd, strong, em, a, p, img {
	border-color:#546359;
	/*border-color:#4A584A;*/
	/*border-color:#494D4A;*/
}
a.beacon, input.beacon {
	border-color:#88938D;
}
.output-primary a.beacon:hover,
.output-primary a.beacon:focus,
.output-primary input.beacon:hover,
.output-primary input.beacon:focus {
	border-color:#88938D !important;
}

input.text, input.button, textarea, select, div.kill-droplist {
	border-color:#000;
	color:#000;
	background-color:#AFB7AF;
}
input.text, textarea, select, div.kill-droplist {
	background-color:#D6DBD6;
}
input.text:focus, input.text:focus, textarea:focus {
	background-color:#ECEEEC;
}
input.button:hover, input.button:focus {
	background-color:#C1CBC1
}
input.button:active {
	background-color:#EEE
}
input.button[disabled] {
	border-color:#777;
	color:#333;
	background-color:#AAA;
}

input.search {
	background-color:#88938D !important;
	border-color:#546359 !important;
	color:#B6C0B6 !important;
}
input.disabled {
	background-color:#88938D;
	border-color:#546359;
	color:#546359;
}

.poll .result {
	border-color:#000;
	background-color:#BBC2BB;
}
.poll .result .bar {
	border-color:#000;
	background-color:#A4ADA4;
}




ul.beacon li.beacon {
	background-color:#8C968C;
}
ul.beacon li span.beacon {
	background-color:#AFB7AF;
}

#output .output-primary .toolbar-alt a,
#bar-user a {
	color:#2B3A3A;
}
#bar-user .toolbar a:hover, #bar-user .toolbar a:focus, #bar-user .toolbar a:active,
#output .output-primary .toolbar-alt a:hover, #output .output-primary .toolbar-alt a:focus, #output .output-primary .toolbar-alt a:active {
	color:#BAC4BA;
	border-color:#BAC4BA;
	background-color:#68736D;
}

table.grid tr.beacon td, table.grid tr.beacon th {
	background-color:#AFB7AF
}

table.calendar td {
	background:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/bgsquare4.png) repeat-x 0 -1em;
}
* html table.calendar td {
	background-image:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/bgsquare-ie4.png); /* blah */
}
table.calendar td.today {
	background-color:#A9B3A9;
}
table.calendar td.blank, table.calendar td.marked {
	background:#AFB7AF; /* overrides bg image */
}
.sidebar table.calendar td .day a:hover,
.sidebar table.calendar td .day a:focus,
.sidebar table.calendar td .day a:active {
	background-color:#B1BBB1;
}

.toolbar a:hover,
.toolbar a:focus,
.toolbar a:active,
.toolbar a.toggle {
	border-color:#546359;
	background-color:#D2D6D2;
}

.linkbar a:hover, .linkbar a:focus, .linkbar a:active {
	border-color:#546359;
	background-color:#B0BAB0;
}

.tabbar a:hover, .tabbar a:focus, .tabbar a:active {
	background-color:#B0BAB0;
}
.tabbar strong a.active, .tabbar strong a, .tabbar strong a:hover, .tabbar strong a:focus, .tabbar strong a:active {
	background:transparent !important;
}

/* Battery Power */
#body {
    padding-top:61px; /* normally 45px */
    /*padding-top:0;
    background-image:none;*/
}
/* Hide from IEMac \*/
#vday {
    color:#A44;
    text-decoration:none;
}
#vday:hover {
    color:#922;
    text-decoration:none;
}
h1 {
    height:59px;
    /*height:63px;*/
    background:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/head4r1.gif) no-repeat 0 0;
    /*background:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/head4-pday.gif) no-repeat 0 0;*/
    position:relative;
    /*margin-left:-12px;*/
    overflow:visible;
    top:0 !important;
}
h1 a {
	position:absolute;
	top:0;
	left:0;
	height:59px;
	/*height:63px;*/
	width:350px;
	/*width:362px;*/
	overflow:hidden;
	text-indent:-5000px;
	font-size:2pt;
	white-space:nowrap;
	text-decoration:none;
	background:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/head4r1.gif) no-repeat 0 0;
	/*background:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/head4-pday.gif) no-repeat 0 0;*/
}
h1 sup {
	position:absolute;
	top:-17px;
        /*top:-13px;*/
	left:355px;
        /*left:365px;*/
}
h1 sup a {
	position:static;
	height:auto;
	width:auto;
	overflow:visible;
	text-indent:0;
	font-size:1em;
	background:none;
}
h1 a:hover, h1 a:focus, h1 a:active {
	text-decoration:none;
	background-position:0 -60px;
	/*background-position:0 -64px;*/
	z-index:20;
}
/* */
body.fullscreen, body.fullscreen #body {
	background-image:none;
}
body.fullscreen #head {
	padding-top:25px !important;
}

h1 sup {
	color:#CAD4CA;
}
h1 a:link, h1 a:visited {
	color:#5A695F;
}
h1 a:hover, h1 a:focus, h1 a:active {
	color:#526157;
}
h1 a:hover sup, h1 a:focus sup, h1 a:active sup {
	color:#DAE4DA;
}

#devlove {
	color:#78837D !important;
}
.alt-head #devlove {
	color:#58635D !important;
}

div#bar-deviant {
	color:#B6C0B6;
}
#bar-deviant-ctrl1 {
	background:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/tl.png) no-repeat top left;
	position:relative;
	top:-1px;
	left:-1px;
}
#bar-deviant-ctrl2 {
	background:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/tr.png) no-repeat top right;
	position:relative;
	left:2px;
}
#bar-deviant-ctrl3 {
	position:relative;
	left:-1px;
	top:1px;
}


div.bar-extra {
	color:#45544A;
	background-color:#AFB7AF;
}
/*div#bar-deviant {
	color:#000;
}*/
div#bar-deviant a {
	color:#DAE4DA;
}
div#bar-extra a {
	color:#DAF4DA;
}

.home .section-block {
	background-image:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/da4.png);
	background-repeat:no-repeat;
	background-position:bottom right;
}

div.section-head a {
	color:#DAE4DA;
}
div#bar-deviant .elab, div#bar-deviant .elab a {
	color:#45544A;
	color:#25342A !important;
}
#bar-main {
	background-color:#BBC2BB;
}


.toolbar-edge .ctrl1,
#bar-main-ctrl1, #bar-user-ctrl1 {
	background:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/bl.png) no-repeat bottom left;
	position:relative;
	top:1px;
	left:-1px;
}
.toolbar-edge .ctrl2,
#bar-main-ctrl2, #bar-user-ctrl2 {
	background:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/br.png) no-repeat bottom right;
	position:relative;
	left:2px;
}
.toolbar-edge .ctrl3,
#bar-main-ctrl3, #bar-user-ctrl3 {
	position:relative;
	top:-1px;
	left:-1px;
}
#bar-main td.lefto {
	border-right-style:solid;
	background:#C8CDC8 url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/p.png) no-repeat bottom left;
}


.toolbar .shop a {
	/*border-color:transparent !important;*/
}
.toolbar .shop a:hover, .toolbar .shop a:focus, .toolbar .shop a:active {
	color:#000 !important;
	/*border-color:#835959 !important;*/
	background-color:#FAFAFA !important;
}
.toolbar .current {
	background:url(/web/20060409170334im_/http://s.deviantart.com/styles/minimal/current4.png) no-repeat bottom center;
}


#bar-user,
#bar-deviant,
table.grid th,
#output .output-primary .toolbar-alt,
.output-primary .section-head,
.output-primary .item-head,
.alt-head {
	background-color:#88938D;
	border-color:#4A584A;
	/*color:#C4CAC4;*/
}
.textalt1 {
	color:#88938D;
}
.dev-list p.dev:first-child:before {
	background-color:#88938D;
	border-color:#4A584A;
}
.alt-head {
	background-color:#88938D !important;
}
#bar-deviant-core {
	/*visibility:hidden;*/
}
.output-secondary .section-head {
	background-color:#A4ADA4;
}

/*.output-primary .item-head {
	background-color:#BBC2BB;
}*/
.output-primary .item h3,
.output-primary .item h4 {
	/*color:#C4CAC4;*/
}

.output-primary .section-block h3,
.output-primary h4 {
	background-color:#A8ADA8;
}


.dev-list p.dev, .dev-list p.dev .shadow,
.output-primary .section-block,
.output-primary .item-body,
.tabbar a, .tabbar strong, .tabbar a.active {
	background-color:#BBC2BB;
}
.output-primary .section-foot,
.output-primary a.beacon,
.output-primary input.beacon,
.output-primary .item-foot {
	background-color:#B4B8B4;
}
#nav-west .section, #nav-east {
	background-color:#C4C9C4;
}
* html .output-secondary .section .ctrl1 {
	border-top-color:#C8CDC8; /* IE5 - bgcolor of div.section */
}


.output-primary a.beacon:hover,
.output-primary a.beacon:focus,
.output-primary a.beacon:active,
.output-primary input.beacon:hover,
.output-primary input.beacon:focus,
.output-primary input.beacon:active {
	background-color:#A8B0A8 !important;
}

.output-primary a.beacon:not([href]) {
	background-color:transparent !important;
	color:#444 !important;
}




body.compact #address,
div.thumbnails div.odd,
ul.beacon li.odd,
ul.alt li.odd,
table.alt tr.odd td,
.output-primary .summary .item .item-head {
	background-color:#BBC2BB;
}
ul.dir li strong,
ul.dir li a:hover, ul.dir li a:focus,
div.thumbnails div.even,
ul.beacon li.even,
table.prints tr.odd td,
ul.alt li.even,
table.alt tr.even td,
.output-primary .summary .even .item-head {
	background-color:#B0B6B0;
}
.alt0 {
	background:#BBC2BB !important;
}
.odd-beacon, .alt1 {
	background:#A8ADA8 !important;
}
.alt2, .even-beacon {
	background:#C2C8C2 !important;
}
.damn .alt2 {
	background:#D2D8D2 !important;
}








body.compact .dev-thumbnails p.dev3,	body.compact .dev-thumbnails p.dev4,	body.compact .dev-thumbnails p.dev7,
body.compact .dev-thumbnails p.dev8,	body.compact .dev-thumbnails p.dev11,	body.compact .dev-thumbnails p.dev12,
body.compact .dev-thumbnails p.dev15,	body.compact .dev-thumbnails p.dev16,	body.compact .dev-thumbnails p.dev19,
body.compact .dev-thumbnails p.dev20,	body.compact .dev-thumbnails p.dev23,	body.compact .dev-thumbnails p.dev24 {
	background-color:#B0B6B0;
}
.dev-list p.dev2 .shadow,	.dev-list p.dev4 .shadow,	.dev-list p.dev6 .shadow,
.dev-list p.dev8 .shadow,	.dev-list p.dev10 .shadow,	.dev-list p.dev12 .shadow,
.dev-list p.dev14 .shadow,	.dev-list p.dev16 .shadow,	.dev-list p.dev18 .shadow,
.dev-list p.dev20 .shadow,	.dev-list p.dev22 .shadow,	.dev-list p.dev24 .shadow {
	background-color:#B0B6B0;
}
.dev-1 p.dev2,	.dev-1 p.dev4,	.dev-1 p.dev6,
.dev-1 p.dev8,	.dev-1 p.dev10,	.dev-1 p.dev12,
.dev-1 p.dev14,	.dev-1 p.dev16,	.dev-1 p.dev18,
.dev-1 p.dev20,	.dev-1 p.dev22,	.dev-1 p.dev24,
.dev-2 p.dev3,	.dev-2 p.dev4,	.dev-2 p.dev7,
.dev-2 p.dev8,	.dev-2 p.dev11,	.dev-2 p.dev12,
.dev-2 p.dev15,	.dev-2 p.dev16,	.dev-2 p.dev19,
.dev-2 p.dev20,	.dev-2 p.dev23,	.dev-2 p.dev24 {
	background-color:#B0B6B0;
}
.dev-3 p.dev4,	.dev-3 p.dev5,	.dev-3 p.dev6,
.dev-3 p.dev10,	.dev-3 p.dev11,	.dev-3 p.dev12,
.dev-3 p.dev16,	.dev-3 p.dev17,	.dev-3 p.dev18,
.dev-3 p.dev22,	.dev-3 p.dev23,	.dev-3 p.dev24,
.dev-4 p.dev5,	.dev-4 p.dev6,	.dev-4 p.dev7,
.dev-4 p.dev8,	.dev-4 p.dev13,	.dev-4 p.dev14,
.dev-4 p.dev15,	.dev-4 p.dev16,	.dev-4 p.dev21,
.dev-4 p.dev22,	.dev-4 p.dev23,	.dev-4 p.dev24 {
	background-color:#B0B6B0;
}
.dev-5 p.devodd5,
.dev-6 p.dev7,	.dev-6 p.dev8,	.dev-6 p.dev9,
.dev-6 p.dev10,	.dev-6 p.dev11,	.dev-6 p.dev12,
.dev-6 p.dev19,	.dev-6 p.dev20,	.dev-6 p.dev21,
.dev-6 p.dev22,	.dev-6 p.dev23,	.dev-6 p.dev24 {
	background-color:#B0B6B0;
}
body.compact .dev-thumbnails p.dev {
	background-color:transparent;
}
.dev-thumbnails .dev-showtext p.dev {
	background-color:transparent !important;
}
.dev-thumbnails .dev-showtext p.dev .dev-text {
	background-color:#C8CDC8;
	background-color:#B2B8B2;
}

* html .dev-thumbnails .dev-hover p.dev label.option-hover .devctrl,
* html .dev-thumbnails .dev-hover p.dev label.option-hover .devctrl .shadow,
* html .dev-thumbnails .dev-hover p.dev label.option-hover .dev-text {
	background-color:#B1BBB1;
	background-color:#C4C8C4;
}
.dev-thumbnails .dev:hover p.dev label.option-hover .devctrl,
.dev-thumbnails .dev:hover p.dev label.option-hover .devctrl .shadow,
.dev-thumbnails .dev:hover p.dev label.option-hover .dev-text {
	background-color:#B1BBB1;
	background-color:#C4C8C4;
}
.dev-thumbnails p.dev label.option-selected .devctrl,
.dev-thumbnails p.dev label.option-selected .devctrl .shadow,
.dev-thumbnails p.dev label.option-selected .dev-text {
	background-color:#68736D;
	color:#DAE4DA;
}
* html .dev-thumbnails .dev-hover p.dev label.option-hover .shadow,
.dev-thumbnails p.dev label.option-selected .shadow {
	background-image:none !important;
}
.dev-thumbnails p.dev label.option-selected .shadow img {
	position:relative;
	top:2px;
	_top:1px;
	left:1px;
	border:1px solid #DAE4DA;
}

.option-selected {
	background:#ACB2AC;
}





/*html, html body {
	scrollbar-face-color:#9FA99F;
	scrollbar-shadow-color:#76857B;
	scrollbar-highlight-color:#CED8CE;
	scrollbar-3dlight-color:#546359;
	scrollbar-darkshadow-color:#546359;
	scrollbar-track-color:#96A096;
	scrollbar-arrow-color:#000
}
textarea {
	scrollbar-track-color:#BBC2BB;
}*/

* html .output-primary .section {
	border-top-color:#A7AFA7;
}



/* --Temporary Stuffage------------------ */
#bar-countdown {
	/*color:#3B4A4A;*/
	background:#A4ADA4 url(/web/20060409170334im_/http://s.deviantart.com/static/icons/products/bgmistletoe.png) top right no-repeat;
}
#bar-countdown #countdown-products a {
	border-color:#A4ADA4; padding:
}
#bar-countdown #countdown-products a:hover,
#bar-countdown #countdown-products a:focus,
#bar-countdown #countdown-products a:active {
	border-color:#546359;
	background-color:#BBC2BB;
}

#supernotice {
    position:absolute;
    top:0;
    right:29px;
    width:215px;
    height:79px;
    overflow:hidden;
    background:url(https://web.archive.org/web/20060409170334im_/http://s.deviantart.com/misc/interface/supernotice.jpg) no-repeat;
}
#supernotice strong {
    display:block;
    padding:12px 10px 0 80px;
}
#supernotice a {
    position:absolute;
    bottom:9px;
    left:80px;
    text-decoration:underline;
}
body.secure #supernotice,
body.compact #supernotice,
body.window #supernotice {
    display:none;
}
/* --/Temporary Stuffage----------------- */

/*
     FILE ARCHIVED ON 17:03:34 Apr 09, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:32:26 Oct 26, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 234.876
  exclusion.robots: 0.26
  exclusion.robots.policy: 0.25
  RedisCDXSource: 13.75
  esindex: 0.008
  LoadShardBlock: 204.74 (3)
  PetaboxLoader3.datanode: 300.904 (4)
  CDXLines.iter: 14.055 (3)
  load_resource: 180.126
  PetaboxLoader3.resolve: 43.117
*/