{% extends "pc/base.html" %}

{% block title %}

<title>/b/ - {{thread[2]}} - [Rats In Space]</title>

{% endblock %}

{% block content %}

<div id="output">

	<div class="output-primary ie-paintfix" style="text-align:center">


	</div></div>


			<div id="user" class="output-primary">

	<div class="thread section">
	<h2 class="section-head"><a href="/b/{{board[2]}}">{{board[0]}}:</a> {{board[1]}} >>> {{thread[0]}}</h2>

	<div>
	<input type="hidden" name="ref" value="http://forum.deviantart.com/devart/help/610231/"/>
	<input type="hidden" name="threadid" value="610231"/>
	</div>


	{% set count = namespace(value=0) %}
	{% for x in post %}
		{% if x[2] == board[2] %}
			<div class="item">
					<div class="item-head float-holder">
					<a id="c13167555"></a>
					<strong>User:</strong> Anon (<a href="#">#{{x[1]}}</a>)<br/>
					<strong>Date:</strong> <span title="1d 11h 35m 55s ago">Apr 6, 2006, 7:13:34 PM</span><br/>
				</div>
				<div class="trailing item-body">
					{{x[0]}}
				</div>
			</div>
		{% endif %}

		{% set count.value = count.value + 1 %}

	{% endfor %}

	{% if count.value == 0 %}
		<br>
		<div class="item">
			<div class="item-head float-holder">
				<a id="c13167555"></a>
				<strong>No comments are available for this thread.</strong><br/>
			</div>
			<div class="trailing item-body">
				<br>
			</div>
		</div>

	{% endif %}



			<br>
			<div style="padding-top:4px;text-align:center">
				<form action="/b/{{board[2]}}/{{thread[1]}}/post" method="POST">
						<h3>Leave a comment!</h3>
						<br>
						<div class="output-primary" style="text-align:center"><div style="background:#9AA29A;width:728px;margin:auto;padding:4px !important;margin:-7px auto 20px auto !important;text-align:left">

						<textarea cols=" id="body" name="thread_content" rows="5" style="width: 99.1%;"></textarea>
						<br>
						<br>
						<input type="submit" value="Post comment" style="border-style:solid; border-color: #494949; background-color: #585f5b; color: white; width: 100%; height: 30px;"/>
						</div></div>
				</form>
			</div>

	</div>
	</form>

	</div>

{% endblock %}