<!DOCTYPE html>

<head>
    <title>500!</title>
    <meta content="[RATS IN SPACE]" property="og:title" />
    <meta content="The official home for rats! No refunds." property="og:description" />
    <meta content="http://jake.chiyo.org/" property="og:url" />
    <meta content="jake.chiyo.org/static/images/JPG/rat.jpg" property="og:image" />
    <meta content="#721010" data-react-helmet="true" name="theme-color" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/images/JPG/rat.jpg">
</head>

<body style="background-image: url('/static/images/GIFS/rathue.gif')">
    <p style="color: white; font-size: 40px; transform: translate(-50%, -50%); position: absolute; left: 50%; top: 40%; background-color: black; text-align: center;">
        <img src="/static/images/GIFS/ratcube.gif" height="400" width="400"><br>whoops! you got a 
        <b><u><i>500</i></u></b>
        <br>
        <span style="font-size: 25px;">
            (this is actually an internal server error which shouldn't happen, if it keeps happening contact the website administrator at: <a href="mailto:jakeratman@airmail.cc">jakeratman@airmail.cc</a>)
        </span>
        <br>
        <br>
        <audio src="/static/audio/deadbird.mp3" autoplay controls loop style="width: 80%;"></audio>
        <audio src="/static/audio/deadbird.mp3" autoplay controls loop style="width: 80%;"></audio>
    </p>
</body>