body {
    color: #ffffdd !important;
    background-color: #60584b !important;
    background-image: url("../sp/bg.jpg") !important;

}

@keyframes blink_a {
  50% {
    color: red !important;
 }
}

a:link,
a:visited {
    color: #005FA9 !important;
}

h1 {
    color: #334d55 !important;
}

h2 {
    color: #c4af88 !important;
}

h3 {
    color: #f1d092 !important;
}

.fixed {
    border-color: #5e5e5e !important;
    background-image: url("../sp/bg2.jpg") !important;

}

.fixed a {
    color: #cc9e4e !important;
}

.fixed a:hover {
    color: #dbb470 !important;
}

#pageNav {
    border-color: #5e5e5e !important;
}

#content {
    border-color: #5e5e5e !important;
}

.MARISASPACE_header {
    color: #ffffff !important;
}

#welcomeMsg {
    color: #a2e7e7 !important;
}

#utility {
    color: #98fffa !important;
}

#utility:hover {
    color: #ffffff !important;
}

#navigation {
    color: #cccccc !important;
    background-image: url("../sp/navi_bg.jpg") !important;
}

a.glink,
a.glink:visited {
    color: #ffebb7 !important;
}

a.glink:hover {
    background-color: #ffebb7 !important;
    color: #000000 !important;
}

#breadCrumb {
    color: #AAAAAA !important;
}

#breadCrumb a {
    color: #f3d9a9 !important;
}

#breadCrumb a:hover {
    color: #f1e8d5 !important;
}

.mainContent h3 {
    color: #d4b77f !important;
}

.commentdiv h3 {
    color: #000000 !important;
}

.player {
    background-image: url("../sp/player_bg.jpg") !important;
    color: rgb(255, 255, 255) !important;
    border-color: #999 !important;
}

audio {
    filter: sepia(100%) !important;
}

textarea,
textarea:focus,
input, button {
    border: 1px solid #cfb88f !important;
    background-color: #13110c !important;
    color: white !important;
}

#searcharea,
#searcharea:focus,
#searchinput {
    border-color:  #cfb88f !important;
}

.friendReq {
	background-color: #13110c !important;
	border: 1px solid #ffffdd !important;
}

.friendReq img {
	border-color: #ffffdd !important;
}

.comment {
	background-color: #13110c !important;
    border-color: #cfb88f !important;
}

.comText a {
    color: #caae7a !important;
}

.comText a:hover {
    color: #f5d393 !important;
}

.comText b {
    color: #ccaa6b !important;
}

#siteInfo {
    border-color: #5e5e5e !important;
    color: #cccccc !important;
}

.relatedLinks {
    border-color: #5e5e5e !important;
}

.relatedLinks.topBorder {
    border-color: #5e5e5e !important;
}

.comAvatar {
	border-color: white !important;
}

.subText {
    color: #caae7a !important;
}

.subText:hover {
    color: #f1d093 !important;
}

.boxHead {
    background: #86775d !important;
    color: white !important;
}

.notfound {
    border-color: #ffffff !important;
    background-image: url("../sp/bg2.jpg") !important;
}