body {
    font-family: Arial, sans-serif;
    color: #ffffdd;
    background-color: #60584b;
    background-image: url("weezer/bg_sp.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

img {
    filter: none;
}

@keyframes blink_a {
  50% {
    color: red;
 }
}
.blink { 
  animation: blink_a 0.5s linear infinite;
}


@keyframes rainbow {
0%{color: pink;}
11%{color: orange;}
22%{color: yellow;}
33%{color: lightgreen;}
44%{color: cyan;}
55%{color: deepskyblue;}
66%{color: mediumslateblue;}
77%{color: violet;}
88%{color: hotpink;}
100%{color: pink;}
}

.rainbow {
  animation: rainbow 1s infinite;
}


a:link,
a:visited {
    color: #005FA9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font: bold 120% Arial, sans-serif;
    color: #334d55;
    margin: 0px;
    padding: 0px;
}

h2 {
    font: bold 114% Arial, sans-serif;
    color: #c4af88;
    margin: 0px;
    padding: 0px;
}

h3 {
    font: bold 100% Arial, sans-serif;
    text-decoration: underline;
    color: #f1d092;
    margin: 0px;
    padding: 0px;
}

form {
    margin: 0;
    padding: 0;
}

.login {
	text-align: center;
	margin-left: auto;
   margin-right: auto;
}

#pagecell1 {
    border: 1px solid;
    border-color: #5e5e5e;
    border-radius: 5px;
    width: 865px;
    background-image: url("weezer/bg2_sp.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: auto;
    margin-bottom: 8px;
    height: auto;
    position: relative;
    overflow: true;
    overflow-x: hidden;
}

#pagecell1 a {
    color: #cc9e4e;
}

#pagecell1 a:hover {
    color: #dbb470;
}

#tr {
    position: absolute;
    top: -1px;
    right: -1px;
    margin: 0px;
    padding: 0px;
    z-index: 100;
}

.downloadSvg {
	filter: invert(100%);
}

#head1 {
    margin: auto;
    margin-bottom: 8px;
    height: auto;
    position: relative;
    overflow: true;
    overflow-x: hidden;
    width: 865px;
}

#pageNav {
    float: right;
    width: 200px;
    padding: 0px;
    border-top-right-radius: 5px;
    border-left: 1px solid #5e5e5e;
    font: small Verdana, sans-serif;
}

#content {
    padding: 0px 10px 0px 0px;
    margin: 0px 200px 0px 0px;
    border-right: 1px solid #5e5e5e;
}

#userlist {
    padding: 0px 10px 0px 0px;
}

.MARISASPACE_header {
    margin: 0px;
    padding: 16px 0px 8px 0px;
    color: #ffffff;
}

#welcomeMsg {
    font: 75% Verdana, sans-serif;
    float: right;
    color: #a2e7e7;
}

#utility:hover {
    text-decoration: underline;
    color: #ffffff;
}

#globalNav {
    border: 1px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    min-width: 640px;
    height: 32px;
    color: #cccccc;
    padding: 0px;
    margin: 0px;
    background-image: url("weezer/navi_bg_sp.gif");
}

#globalNav img {
    margin-bottom: -4px;
}

#globalLink {
    position: absolute;
    top: 5px;
    text-align: center;
    left: 2%;
}

a.glink,
a.glink:visited {
    font-size: small;
    color: #ffebb7;
    font-weight: bold;
    margin: 0px;
    padding: 2px 5px 4px 5px;
}

a.glink:hover {
    background-color: #ffebb7;
    color: #000000;
    text-decoration: none;
    border: 1px;
    border-radius: 2px;
}

#breadCrumb {
    padding: 5px 0px 5px 10px;
    font: small Verdana, sans-serif;
    color: #AAAAAA;
}

#breadCrumb a {
    color: #f3d9a9;
}

#breadCrumb a:hover {
    color: #f1e8d5;
    text-decoration: underline;
}

.mainContent {
    padding: 0px 0px 10px 10px;
    font-size: 80%;
    height: 200px;
    overflow: hidden;
}

html>body .mainContent {
    height: auto;
}

.mainContent h3 {
    font: bold 175% Arial, sans-serif;
    color: #d4b77f;
}

.mainContent img {
    float: left;
    margin: 0px 10px 0px 0px;
}

.commentdiv {
    padding: 10px 0px 0px 10px;
    font-size: 80%;
}

.commentdiv h3 {
    font: bold 125% Arial, sans-serif;
    color: #000000;
}

.commentdiv p {
    padding: 0px 0px 10px 0px;
}

.comTable {
    max-width: 400px;
}

.box {
    padding-left: 10px;
    border: none;
    overflow: hidden;
}

audio {
    margin-top: 5px;
    height: 30px;
    outline: none;
    margin-bottom: -3px;
    width: 100%;
}

.songName {
    margin-top: 0px;
    font-size: small;
}

.player {
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("weezer/player_bg_sp.png");
    background-size: CONTAIN;
    color: rgb(255, 255, 255);
    border: 1px solid #999;
}

.commentForm {
    padding: 10px 0px 0px 10px;
    margin-top: 10px;
    margin-bottom: 4px;
    display: text-top;
}

audio {
    filter: sepia(100%);
}

.blogDel {
	margin-top: 0px;
}

textarea,
textarea:focus,
input, button {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #cfb88f;
    width: 98.8%;
    margin-top: 10px;
    border-radius: 0;
    height: 10%;
    background-color: #13110c;
    color: white;
}

#userlist {
    margin: 8px 0;
    display: inline-block;
    overflow-wrap: break-word;
}

#searcharea,
#searcharea:focus,
#searchinput {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #cfb88f;
    width: 20%;
}

#searchbutton {
    width: 10%;
}

.tableLeft {
    width: 102px;
}

.commentPost {
	width: 50px;
}

.friendReq {
	background-color: #13110c;
	border: 1px solid #ffffdd;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 8px;
}

.friendReq img {
	border: 1px solid #ffffdd;
}

.comment {
	background-color: #13110c;
    width: 100%;
    padding-right: 100%;
    border: 1px #cfb88f solid;
    padding: 2px 0px 0px 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: text-top;
    vertical-align: top;
}

.comText {
    vertical-align: top;
    top: 0;
    bottom: 0;
    margin-top: 0px;
    margin-left: 4px;
}

.comText a {
    color: #caae7a !important;
    font-weight: bold;
    text-decoration: underline;
}

.comText a:hover {
    color: #f5d393 !important;
    font-weight: bold;
    text-decoration: underline;
}

.comText b {
    color: #ccaa6b !important;
    font-size: 10px !important;
    font-weight: bold !important;
}

td {
    height: 80px;
    vertical-align: top;
}

.comment p {
    padding: 0px;
}

#siteInfo {
    text-align: center;
    clear: both;
    border-top: 1px solid #5e5e5e;
    font-size: small;
    color: #cccccc;
    padding: 10px 10px 10px 10px;
    margin-top: 0px
}

#siteInfo img {
    padding: 4px 4px 4px 0px;
    vertical-align: middle;
}

.relatedLinks {
    margin: 0px;
    padding: 0px 0px 10px 10px;
    border-bottom: 1px solid #5e5e5e;
}

.relatedLinks.topPadding {
    padding: 10px 0px 2px 0px;
}

.relatedLinks.topBorder {
    border-top: 1px solid #5e5e5e;
}

.relatedLinks h3 {
    padding: 10px 0px 2px 0px;
}

.relatedLinks a {
    display: block;
}

.comAvatar {
	border: 1px white solid;
}

.usrAvatar {
    margin-right: 8px;
}

.subText {
    color: #caae7a;
}

.subText:hover {
    color: #f1d093;
}

.boxHead {
    background: #86775d;
    color: white;
    padding: 3px;
    padding-bottom: 4px;
    padding-left: 6px;
}

.boxHead b {
    font-size: 15px;
}

.userlist {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 30px);
}

.userlist font {
    display: flex;
    margin-left: -8px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.userlist p {
    width: 130px;
    margin: 8px 0;
    height: 60px;
    margin-top: 2%;
    display: inline-block;
    overflow-wrap: break-word;
}

.userlist p>u,
.userlist p>a {
    display: block;
}

.userlist #username {
    width: 200px;
    margin-bottom: 8px;
}

.userlist #submit {
    width: 70px;
    margin-bottom: 8px;
}

/* end userlist fix */

.notfound {
    border: dashed;
    border-width: 2px;
    border-color: #ffffff;
    width: 40%;
    text-align: center;
    margin-top: 1%;
    background-image: url("bg2.gif");
}

.usrsearch p {
    display: contents;
}

.usrsearch {
    padding-left: 8px;
    padding-top: 8px;
}
