/* TODO: Fix this for current weezer */

body {
    color: #000000 !important;
    background-image: url("../light/bg.jpg");

}

a:link,
a:visited {
    color: #005FA9 !important;
}

h1 {
    color: #334d55 !important;
}

h2 {
    color: #c48888 !important;
}

h3 {
    color: #f19292 !important;
}

.fixed {
    border-color: #5e5e5e !important;
    background-image: url("../light/navi_bg.jpg");
}

.fixed a {
    color: #4ea8cc !important;
}

.fixed a:hover {
    color: #7080db !important;
}

#pageNav {
    border-color: #5e5e5e !important;
}

#content {
    border-color:#5e5e5e !important;
}

.MARISASPACE_header {
    color: #ffffff !important;
}

#utility {
    color: #a2e7e7 !important;
}

#utility:hover {
    color: #ffffff !important;
}

#navigation {
    color: #5c5c5c !important;
    background-image: url("../light/navi_bg.jpg");
}

a.glink,
a.glink:visited {
    color: #003ba8 !important;
}

a.glink:hover {
    background-color: #585858 !important;
    color: #ffffff !important;
}

#breadCrumb {
    color: #AAAAAA !important;
}

#breadCrumb a {
    color: #39546b !important;
}

#breadCrumb a:hover {
    color: #0021da !important;
}

.feature h3 {
    color: #7f85d4 !important;
}

.commentbox h3 {
    color: #000000 !important;
}

.player {
    color: white !important;
    border-color: #5e5e5e !important;
    background-image: url("../light/player_bg.jpg");
}

textarea,
textarea:focus,
input {
    border-color:#818181 !important;
    background-color: rgb(22, 22, 22) !important;
    color: white !important;
}

#searcharea,
#searcharea:focus,
#searchinput {

    border-color:#818181 !important;
}

.comment {
    border-color:#818181 !important;
}

.comText a {
    color: #7a9dca !important;

}

.comText a:hover {
    color: #93d6f5 !important;
}

.comText b {
    color: #ccaa6b !important;
}

#siteInfo {
    border-color:#818181 !important;
    color: #cccccc !important;
}

.relatedLinks {
    border-color:#818181 !important;
}


.relatedLinks.topBorder {
    border-color:#818181 !important;
}

.subText {
    color: #7aa3ca !important;
}

.subText:hover {
    color: #f1d093 !important;
}

.boxHead {
    background: #4b4b4b !important;
    color: white !important;
}

.notfound {
    border-color: #ffffff !important;
    background-image: url("../light/bg2.jpg");
}