{% extends "cosmic/base.html" %}

{% block title %}
    <title>{{board[0]}} - [RATS IN SPACE]</title>
{% endblock %}

{% block content %}

    <h3><a href="/">Board List</a> >> {{board[0]}}</h3>

    <br>
    <form action="/b/{{board[2]}}/post" method="POST" style="width: 60%; margin-left: 20%; text-align: center; background-color: #999999; border-style: solid; border-color: black; border-width: 1px;">

        <h3>Create a thread!</h3>

        <textarea cols=" id="body" name="board_content" rows="5" style="resize: none; width: 80%;"></textarea>
        <br>
        <br>
        <input id="generalButton" type="submit" value="Create thread"/>
        {% if session["username"] %}
            <br>
            <br>
            <input type="checkbox" name="nouser" {% if anon %} checked {% endif %}/>Don't create as "{{session["username"]}}"!</input>
        {% endif %}

        {% if boardPostFailed %}
            <p style="color: rgb(109, 0, 0); font-size: 15px;">{{boardPostFailed}}</p>
        {% else %}
            <br>
            <br>
        {% endif %}
    </form>
    
    <br>
    <br>

    <br>

    {% set count = namespace(value=0) %}
    {% for x in thread|reverse %}
        
        {% set count.value = count.value + 1 %}
        {% set id = namespace(value=x[4]) %}

        {% if not x[5] or x[5] == "Anon" %}
            {% set id = namespace(value=0) %}
        {% endif %}

        <table style="width:100%; table-layout: fixed;">
            <a name="a"></a>
                <tr>
                    <th style="font-weight:normal;"><b>Thread ID:</b> {{x[1]}}<br><b>User:</b> {{x[5]}} {% if x[5] != "Anon" %} <a href="/u/{{id.value}}">({{id.value}})</a>{% else %} ({{id.value}}) {% endif %} <br><b>Date:</b> {{x[3]}}<br><a href="/b/{{board[2]}}/{{x[1]}}">Jump to thread</a></th>
                </tr>

                <tr>
                    <td style="word-wrap: break-word;">{{x[0]}}</td>
                </tr>
        </table>
        <br>
    {% endfor %}

    {% if count.value == 0 %}

        <table style="width:100%; table-layout: fixed;">
            <tr>
                <th style="font-weight:bold;">No active threads.</th>
            </tr>
        </table>
        <br>


    {% endif %}

{% endblock %}