<!DOCTYPE html>
<html>

    <head>
        <title>funny</title>
        <link rel="icon" href="/static/images/GIFS/fatrat.gif">
    </head>

    <!-- There is no way in hell I am going to give this stupid page it's own css file -->
    <style>
        * {
            animation: funny 2s infinite;
        }
        @keyframes funny {
            0%{filter: hue-rotate(0deg) saturate(4);}
            100%{filter: hue-rotate(360deg) saturate(2);}
        }
    </style>

    <body style="text-align: center; background-color: black;background-image: url('/static/images/GIFS/seizure.gif'); background-size: 5%;">
        <audio autoplay controls loop>
            <source src="/static/audio/{{randomMusic}}.mp3">
        </audio>

        <marquee scrollamount="334" direction="right" style="background-image: url('/static/images/GIFS/ratcube.gif');">
            <img src="/static/images/JPG/rat.jpg" width="200" height="200" behavior="slide" ><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150">
        </marquee>

            <h1 style="color: white; background-image: url('/static/images/GIFS/rathue.gif');">
                <img src="/static/images/GIFS/ratcube.gif"><img src="/static/images/GIFS/ratcube.gif">
                <span style="background-color: black;">THE RATS HAVE DISEASED US!</span>
                <img src="/static/images/GIFS/ratcube.gif"><img src="/static/images/GIFS/ratcube.gif">
            </h1>

        <marquee scrollamount="500" direction="right" style="background-image: url('/static/images/GIFS/ratcube.gif');">
            <img src="/static/images/JPG/rat.jpg" width="200" height="200"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150">
        </marquee>

        <marquee scrollamount="105" direction="right" style="background-image: url('/static/images/GIFS/ratcube.gif');">
            <img src="/static/images/JPG/rat.jpg" width="200" height="200" behavior="slide"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150">
        </marquee>

        <marquee scrollamount="55" direction="right" style="background-image: url('/static/images/GIFS/ratcube.gif');">
            <img src="/static/images/JPG/rat.jpg" width="200" height="200" behavior="slide"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150">
        </marquee>

        <marquee scrollamount="334" direction="right" style="background-image: url('/static/images/GIFS/ratcube.gif');">
            <img src="/static/images/JPG/rat.jpg" width="200" height="200" behavior="slide"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150">
        </marquee>

        <marquee scrollamount="2" direction="right" style="background-image: url('/static/images/GIFS/ratcube.gif');">
            <img src="/static/images/JPG/rat.jpg" width="200" height="200" behavior="slide"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150">
        </marquee>

        <marquee scrollamount="36" direction="right" style="background-image: url('/static/images/GIFS/ratcube.gif');">
            <img src="/static/images/JPG/rat.jpg" width="200" height="200" behavior="slide"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150">
        </marquee>

        <marquee scrollamount="65" direction="right" style="background-image: url('/static/images/GIFS/ratcube.gif');">
            <img src="/static/images/JPG/rat.jpg" width="200" height="200" behavior="slide"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150"><img src="/static/images/JPG/rat.jpg" width="150" height="150">
        </marquee>
    </body>

</html>