{% extends "cosmic/base.html" %}

{% block title %}
    <title>- [RATS IN SPACE]</title>
{% endblock %}

{% block content %}

    <h3>Help</h3>

    <p style="margin: 0;">Q: How do i login?<br>A: You do not.</p>
    <br>
    <p style="margin: 0;">Q: What timezone is used?<br>A: GMT (London time)</p>
    <br>
    <p style="margin: 0;">Q: I know the ID to a message but cant remember what board or thread it was in!<br>A: You can use "/p/&lt;message_id&gt;" to jump to the message. The message will also be highlighted for convienence.</p>
    <br>
    <p style="margin: 0;">Q: Does the plaintext password option actually store the password as plain text?<br>A: Yes it does, I would advise using it though if you really care.</p>

{% endblock %}