{% extends "cosmic/base.html" %}

{% block content %}

    <h3>Help</h3>

    <p style="margin: 0;">Q: How do i login?<br>A: You do not.</p>
    <br>
    <br>
    <p style="margin: 0;">Q: What timezone is used?<br>A: GMT (London time). This is all done server-side, your locale time is never used.</p>
    <br>
    <br>
    <p style="margin: 0;">Q: I know the ID to a message but I can't remember what board or thread it was in!<br>A: You can use "/p/&lt;message_id&gt;" to jump to the message. The message will also be highlighted for convienence.</p>
    <br>
    <br>
    <p style="margin: 0;">Q: Does the plaintext password option actually store the password as plain text?<br>A: Yes it does, I would advise against using it though if you really care.</p>
    <br>
    <br>
    <p style="margin: 0;">Q: I have found a bug but I don't know where or how to report it!<br>A: Send me an email by clicking <a href="mailto:jakeratman@airmail.cc">here</a>. Please try to provide an in-depth step by step process so I can reproduce the bug more easily and quickly.</p>
    <br>
{% endblock %}