{% extends "cosmic/base.html" %}

{% block content %}

    <h3><a href="/">Board List</a> >> Register!</h3>

    <br>
    <form action="/register" method="POST" style="width: 60%; margin-left: 20%; text-align: center; background-color: #999999; border-style: solid; border-color: black; border-width: 1px;">
        <h3>Create an account!</h3>

        <textarea type="text" cols=" id="body" name="username" rows="1" placeholder="Username..." style="height: 20px; width: 80%;"></textarea>

        <br>
        <br>

        <textarea type="text" cols=" id="body" name="password" rows="1" placeholder="Password..." style="height: 20px; width: 80%;"></textarea>

        <br>

        <input type="checkbox" name="nohash"/>Do not hash my password!

        <br>
        <br>

        <input id="generalButton" type="submit" value="Register"/>

        <br>
        <br>

    </form>
    <br>
    <br>

{% endblock %}