<!DOCTYPE html>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <title>All Posts - Rats In Space</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">

</head>

<body>
    <div id="masthead">
        <div>
            <h1 class="MARISASPACE_header"><i>=RATS IN SPACE=</i>


                <a href="#" id="utility">Welcome, Anon</a>
            </h1>
        </div>

        <div id="navigation">
            <div id="globalLink">
                <a href="/" class="glink">Board List</a><a href="/newboard" class="glink">New Board</a><a href="/allposts" class="glink">All Posts</a>
            </div>


        </div>
    </div>
    <div class="fixed">
        <div id="pageNav">
            <div class="relatedLinks topPadding">
                <center>
                    <h2>DESU BOX~</h2>
                </center>
                <p>
                    <marquee direction="left" scrollamount="50"><span class="desu1">DESUDESUDESUDESUDESUDESU~~~~</span></marquee>
                </p>
                <p>
                    <marquee direction="right" scrollamount="25"><span class="desu2">DESUDESUDESUDESUDESUDESUDESUDESUDESUDESUDESU~~~~</span></marquee>
                </p>
                <p>
                    <marquee direction="left" scrollamount="50"><span class="desu3">DESUDESUDESUDESUDESUDESU~~~~</span></marquee>
                </p>
                <p>
                    <marquee direction="right" scrollamount="50"><span class="desu4">DESUDESUDESUDESUDESUDESU~~~~</span></marquee>
                </p>
            </div>
            <div class="relatedLinks topBorder">
                <h3>User actions</h3>
                <a href="#">Create a blog</a>
                <a href="mailto:admin@chiyo.org">Report User</a>
                <a href="#">View all Blog Posts</a>
                <a href="#">Add as friend (Soon!!)</a>
            </div>

            <div class="player box">
                <div class="songName">
                    <b>Song:</b>
                    <span class="songTitle"></span>
                    <a href="#" download="lorelai.ogg"><img style="height: 15px; float: right; padding-right: 2px" src="/static/download.svg"></a>
                </div>
                <audio controls="" autoplay="" src="#" controlslist="nodownload"></audio>
            </div>

            <div class="relatedLinks topBorder">
                <form action="/b/{{board_id}}/post" method="POST">
                    <h3>Leave a post!</h3>
                    <textarea cols=" id="body" name="board_content" rows="5" style="width: 90%;"></textarea>
                    <input type="submit" value="post" style="opacity: 75%; background-color: black; color: white; width: 94%;"/>
                </form>
            </div>

        </div>
        <div id="content">
            <div id="breadCrumb">
                <p><a href="/">All Posts</a></a> </p>
            </div>


            <div class="commentbox">
                <div class="boxHead">
                    <b>Comments</b>
                </div>

                {% set count = namespace(value=0) %}

                {% for x in posts %}
                    {% set count.value = count.value + 1 %}
                    <table class="comment" cellpadding="0" cellspacing="" summary="">
                        <tr valign="top">
                            <tr>
                                <td class="tableLeft">
                                    <a href="/id/106">
                                        <div></div></a>
                                </td>
                                <td class="tableRight">
                                    <div>
                                        <p class="comText"><a href="/">Board: {{x[2]}}</a> <b><a href="/b/{{x[2]}}">Jump to board.</a></b><br>{{x[0]}}</p>
                                    </div>
                                </td>
                            </tr>
                        </tr>
        
                    </table>

             {% endfor %}

            {% if count.value == 0 %}

                <p class="comText">
                    <h2>No posts anywhere.</h2>
                </p>
            {% endif %}


            </div>
        </div>
        <div id="siteInfo">
            <a href="#">About</a> | <a href="mailto:admin@chiyo.org">Contact</a> | <a href="/news">News</a> | <a href="#">Contact Us</a> | © 2005 Rats In Space</div>
    </div>

    <br>
</body>

</html>