<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/_static/css/banner-styles.css?v=omkqRugM" />
    <link rel="stylesheet" type="text/css" href="/_static/css/iconochive.css?v=qtvMKcIJ" />

    {% block title %}

    <title>[Rats In Space]</title>

    {% endblock %}

    <style type="text/css" media="Screen,Projection,TV" title="Minimal">
        /* \*/
        @import "/static/css/3029.css";
        @import "/static/css/min3029.css";
        /* */
        @import "/static/css/555.css";
        /* \*/
        #mac-ie {display:none}
        /* */
    </style>
    
</head>

<body id="deviantART" class="user"><!-- BEGIN WAYBACK TOOLBAR INSERT -->
<style type="text/css">
	body {
		margin-top:0 !important;
		padding-top:0 !important;
		/*min-width:800px !important;*/
	}
</style>

<div id="body">
	<h1 style="background: none !important; text-align: center;">
			<sup style="left: 15%; font-style: italic; color: #5a695f; font-size: 100%; font-weight: bold;">
				<a href="/">[RATS IN SPACE]</a>
			</sup>
	</h1>
	<br>
	<br>
	<br>
	<br>
	<div>

	<div id="head">

	<div id="bar-deviant">
	<div id="bar-deviant-ctrl1"><div id="bar-deviant-ctrl2"><div id="bar-deviant-ctrl3"><div id="bar-deviant-ctrl4">
	<div id="bar-deviant-core">
		<div class="mod-double" style="font-size: 30px !important;">
			<br>
            {% if session["username"] %}
				<div style="color: #23332A  !important;">Navigation Bar <span style="float: right;">Welcome, <b>{{session["username"]}}</b></span></div>
            {% else %}
                <div style="color: #23332A  !important;">Navigation Bar <span style="float: right;">Not logged in!</span></div>
            {% endif %}
			<br>
            </div>
	</div>
	</div></div></div></div>
	</div> <!--/bar-deviant-->
	<div id="bar-main"><div id="bar-main-ctrl1"><div id="bar-main-ctrl2"><div id="bar-main-ctrl3">
		<br>
		<table style="border-collapse:collapse;">
		<tr>
		<td class="lefto">
		
		<table class="toolbar text-toolbar" style="font-size: 30px !important;">
			<tr>
			<td class="shop">
				<a href="/"><img src="/static/images/GIFS/browse.gif" alt=""/><span>Browse</span></a>
				<span class="hsep"> | </span>
			</td>
			
            {% if session["type"] == 1 %}
    			<td class="shop">
	    			<a href="/newboard"><img src="/static/images/GIFS/faq.gif" alt=""/><span>New Board</span></a>
		    		<span class="hsep"> | </span>
			    </td>
            {% endif %}

			<td class="shop">
				<a href="/random"><img src="/static/images/GIFS/faq.gif" alt=""/><span>Random</span></a>
				<span class="hsep"> | </span>
			</td>

			<td class="shop">
				<a href="/users"><img src="/static/images/GIFS/browse.gif" alt=""/><span>Users</span></a>
				<span class="hsep"> | </span>
			</td>
			</tr>

		</table>
		</td>
		<td class="righto">
		<table class="toolbar text-toolbar" style="font-size: 30px !important;">
			<tr>
			<td class="last">
				<a title="Help and Frequently Asked Questions" href="/help"><img src="/static/images/GIFS/faq.gif" alt=""/><span>Help</span></a>
			</td>


            {% if session["username"] %}
                <td class="last">
                    <a title="Logout" href="/logout"><img src="/static/images/GIFS/faq.gif" alt=""/><span>Logout</span></a>
                </td>
            {% else %}
                <td class="last">
                    <a title="Login" href="/login"><img src="/static/images/GIFS/faq.gif" alt=""/><span>Login</span></a>
                </td>
            
                <td class="last">
                    <a title="Register" href="/register"><img src="/static/images/GIFS/faq.gif" alt=""/><span>Register</span></a>
                </td>
            {% endif %}

		</tr>
		</table>
		</td>
		</tr>
		</table>

		<br>
	</div></div></div></div> <!--/bar-main-->

	</div> <!--/head-->

    {% block content %}

    {% endblock %}

	<hr/>

	<br>
	<br>
	<div style="clear:both">&nbsp;</div>
	<div class="output-primary" style="text-align:center; font-size: 23px !important;"><div style="background:#9AA29A;width:728px;margin:auto;padding:4px !important;margin:-7px auto 20px auto !important;text-align:left">

	<div style="padding-top:4px;text-align:center">
		{{adFoot[0]}}
		<a href="{{adFoot[2]}}">{{adFoot[1]}}</a>
	</div>
	</div></div>

	<div class="output-primary ie-floatfix" id="address" style="font-size: 20px !important;">

	<div>    <div>
			<a href="#">About</a> |
			<a href="#">Contact</a> |
			<a href="#">Advertise</a> |
			<a href="#">Terms of Service</a> |
			<a href="#">Privacy Policy</a> |
			<a href="#">Etiquette Policy</a>
		</div>
		<br/>
		&copy; 2005 <a href="/">[Rats In Space]</a>.
		<div>very hq website.</div>

	</div>
	</div> <!--/address-->
	</div>
</div> <!--/body-->


<a id="deviantART-loves-you"/>

</body>
</html>
