<!DOCTYPE html>
<html>

    <head>
        <meta content="[RATS IN SPACE]" property="og:title" />
        <meta content="The official home for rats! No refunds." property="og:description" />
        <meta content="http://jake.chiyo.org/" property="og:url" />
        <meta content="jake.chiyo.org/static/images/JPG/rat.jpg" property="og:image" />
        <meta content="#721010" data-react-helmet="true" name="theme-color" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main_mobile.css">
        <link rel="icon" href="/static/images/JPG/rat.jpg">
    </head>

    <script>
        function openTab(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function start() {
            document.getElementById('homeButton').click();
        }
    </script>

    {% if session["useNav"] %}

        <body> 
    {% else %}
        <body onload="start();"> 
    {% endif %}

        <div class="main">

            <div class="header">
                <h2 style="font-size: 30px;"><i><a href="/" class="headertitle">[RATS IN SPACE]</a></i><br><span style="font-size: 25px;">BETA!</span></h2>

                {% if session["username"] %}
                    <p> Welcome, <b>{{session["username"]}}</b><br><a href="/logout" class="brightlink">Logout</a></p>
                {% else %}
                    <p>Woah ass ahoy<br><a href="/login" class="brightlink">Log in</a> or <a href="/register" class="brightlink">Register</a></p>
                        
                {% endif %}
            </div>


            {% if session["useNav"] %}
                <div class="tab2">
                    <button id="homeButton" class="tablinks" onclick="location.href='/'">Main</button>
                    <button class="tablinks" onclick="location.href='/users'">All users</button>
                    <button class="tablinks" onclick="location.href='/help'">Help</button>
                    <button class="tablinks" onclick="location.href='/random'">Random</button>
                </div>
                <br>
            {% else %}
                <div class="tab">
                    <button id="homeButton" class="tablinks" onclick="openTab(event, 't1')">Main</button>
                    <button class="tablinks" onclick="openTab(event, 't2')">All users</button>
                    <button class="tablinks" onclick="openTab(event, 't4')">News</button>
                    <button class="tablinks" onclick="openTab(event, 't3')">Help</button>
                    <button class="tablinks" onclick="location.href='/random'">Random</button>
                </div>
            {% endif %}

            <div class="tabcontenta">
                <div id="t1" class="tabcontent">
                    {% block content %}

                    {% endblock %}
                </div>

                {% if not session["useNav"] %}


                    <div id="t2" class="tabcontent">
                        <h3>User list</h3>

                        <table style="width:100%;"">
                            <tr>
                                <th>Name</th>
                                <th>Creation Date</th>
                                <th width="4%">Type</th>
                                <th width="4%">ID</th>
                            </tr>
                            {% set userCount = namespace(value=0) %}
                    
                            {% for x in users %}
                                {% set userCount.value = userCount.value + 1 %}
                    
                            <tr>
                                <td><a href="/b/{{x[2]}}">{{x[0]}}</a></td>
                                <td>{{x[4]}}</td>
                                <td>{{x[3]}}</td>
                                <td>{{x[2]}}</td>
                            </tr>

                            {% endfor %}

                            {% if userCount.value == 0 %}

                                <tr>
                                    <td colspan="4"><strong>No users registered.</strong></td>
                                </tr>
                            {% endif %}

                        </table>
                        <br>
                    </div>

                    <div id="t3" class="tabcontent">
                        <h3>Help</h3>

                        <p style="margin: 0;">Q: How do i login?<br>A: You do not.</p>
                        <br>
                        <br>
                        <p style="margin: 0;">Q: What timezone is used?<br>A: GMT (London time). This is all done server-side, your locale time is never used.</p>
                        <br>
                        <br>
                        <p style="margin: 0;">Q: I know the ID to a message but I can't remember what board or thread it was in!<br>A: You can use "/p/&lt;message_id&gt;" to jump to the message. The message will also be highlighted for convienence.</p>
                        <br>
                        <br>
                        <p style="margin: 0;">Q: Does the plaintext password option actually store the password as plain text?<br>A: Yes it does, I would advise against using it though if you really care.</p>
                        <br>
                        <br>
                        <p style="margin: 0;">Q: I have found a bug but I don't know where or how to report it!<br>A: Send me an email by clicking <a href="mailto:jakeratman@airmail.cc">here</a>. Please try to provide an in-depth step by step process so I can reproduce the bug more easily and quickly.</p>
                        <br>
                    </div>

                    <div id="t4" class="tabcontent">
                        <form action="/newnews" method="GET">
                            <h3>News<br>

                            {% if session["type"] == 1 %} 
                                <input type="submit" value="Create news piece" style="font-size: 14px; border-style:solid; border-color: #494949; background-color: #585f5b; color: white; width: 90x; height: 25px; margin-top: 0%"/> 
                            {% endif %} 

                            </h3>
                        </form>

                        {% set newsCount = namespace(value=0) %}
                        {% for x in news %}
                            {% set newsCount.value = newsCount.value + 1 %}

                            <table style="width:100%; table-layout: fixed;">
                                <a name="{{x[0]}}"></a>
                                <tr>
                                    <th style="font-weight:normal; text-align: center;"><span style="font-size: 18px;"><b>{{x[0]}}</b></span><br><br><b>Created at:</b> {{x[2]}}</th>
                                </tr>
                
                                <tr>
                                    <td style="word-wrap: break-word;">{{x[1]}}</td>
                                </tr>
                            </table>
                            <br>

                        {% endfor %}
                        
                        {% if newsCount.value == 0 %}
                            <tr>
                                <td colspan="4"><strong>There is NO news!</strong></td>
                            </tr>
                        {% endif %}                    
                    
                    </div>
                {% endif %}

            </div>

            
            <div class="footer">
                <div>{{adFoot[0]}} <a href="{{adFoot[2]}}">{{adFoot[1]}}</a></div>
                <br>
                <div><a href="mailto:jakeratman@airmail.cc">Report a bug</a> | <a href="/rules">Rules</a></div>
                <br>
                <div>© 2005 <a href="http://jake.chiyo.org/">[Rats In Space]</a> BETA!</div>
                <div>© 2000 <a href="http://chiyo.org/">ChiyoNet Online</a></div>
            </div>
        </div>

    </body>
</html> 
