<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    
    <body>
        <div class="main">

            <div class="header">
                <h2 style="font-size: 30px;"><i>[RATS IN SPACE]</i></h2>

                {% if session["username"] %}
                    <p> Welcome, <b>{{session["username"]}}</b><br><a href="/logout" class="brightlink">Logout</a></p>
                {% else %}
                    <p>Woah ass ahoy<br><a href="/login" class="brightlink">Log in</a> or <a href="/login" class="brightlink">Register</a></p>
                        
                {% endif %}

            </div>

            <div class="tabcontenta">
                <div id="t1" class="tabcontent">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>

            
            <div class="footer">
                <div>© 2005 [Rats In Space] BETA!</div>
                <div>very hq website.</div>
                <br>
                <a href="/beta">Take me back to the old page!</a>
            </div>
        </div>

    </body>
</html> 
