{% extends "ph/base.html" %}

{% block title %}

<title>Board List - [Rats In Space]</title>

{% endblock %}

{% block content %}

<div id="output">

    <div class="output-primary ie-paintfix" style="text-align:center">


    </div></div>


    <div id="user" class="output-primary">

        <div class="thread section">
        <h2 class="section-head" style="font-size: 35px !important;">Board List</h2>
        <br>
        <table class="section-block grid">
        <tbody><tr style="font-size: 30px !important;">
            <th>Board Name</th>
            <th>Info</th>
            <th width="10%">ID</th>
        </tr>

        {% set count = namespace(value=0) %}
                        
                        
        {% for x in boards %}
            {% set count.value = count.value + 1 %}
            <p>    
                <tr class="even" valign="top" style="font-size: 30px !important; text-align: center;">
                    <td class="odd"><br><div style="padding-left:1.5em;"><strong><a href="/b/{{x[2]}}">{{x[0]}}</a></strong><br></div><br></td>
                    <td class="odd"><br>{{x[1]}}<br></td>
                    <td class="even" style="text-align: center;"><br>{{x[2]}}<br></td>
                </tr>
            </p>
        {% endfor %}

        {% if count.value == 0 %}

            <tr class="beacon">
                <td colspan="5"><div style="padding-left:0em;"><strong>No active boards.</strong></div></td>
            </tr>

        {% endif %}

        </tbody></table>
        
        </div>
                </div>


    </form>

{% endblock %}