{% extends "ph/base.html" %}

{% block content %}

    <h3>Rules</h3>

    <p style="margin: 0;">1. Genuine insults directed towards race, sexuality or anything else is prohibited if there is genuine intent to hurt the user.</p>
    <br>
    <br>
    <p style="margin: 0;">2. No swearing.</p>
    <br>
    <br>
    <p style="margin: 0;">3. No hacking unless permission is given.</p>
    <br>
    <br>
    <p style="margin: 0;">4. Message deletion is a war crime unless done by me, The Great Jake, cause fuck you.</p>
    <br>
    <br>
    <p style="margin: 0;">5. Sexual, political and <b>annoying me</b> conversations are strictly prohibited and will be deleted if found.</p>
    <br>
    <br>
    <p style="margin: 0;">6. You <b>must</b> become a femboy if you want to post on this site, otherwise you will be publically shamed.</p>
    <br>
    <br>
    <p style="margin: 0;">7. No Jewish orthodox "people" allowed. Reforms are fine unless you are willing to circumcise your child which in that case get out.</p>
    <br>
{% endblock %}