{% extends "ph/base.html" %}

{% block title %}

<title>Board List - [Rats In Space]</title>

{% endblock %}

{% block content %}

<div id="output">

    <div class="output-primary ie-paintfix" style="text-align:center">


    </div></div>


    <div id="user" class="output-primary">

        <div class="thread section">
        <h2 class="section-head">Board List</h2>

        <table class="section-block grid">
        <tbody><tr>
            <th>User Name</th>
            <th>User Creation Date</th>
            <th width="4%">ID</th>
        </tr>

        {% set count = namespace(value=0) %}
                        
                        
        {% for x in users %}
            {% set count.value = count.value + 1 %}
            <p>    
                <tr class="even" valign="top">
                    <td class="odd"><div style="padding-left:1.5em;"><strong><a href="/b/{{x[2]}}">{{x[0]}}</a></strong><br></div></td>
                    <td class="odd">{{x[2]}}</td>
                    <td class="even" style="text-align: center;">{{x[2]}}</td>
                </tr>
            </p>
        {% endfor %}

        {% if count.value == 0 %}

            <tr class="beacon">
                <td colspan="5"><div style="padding-left:0em;"><strong>No active boards.</strong></div></td>
            </tr>

        {% endif %}

        </tbody></table>
        
        </div>
                </div>


    </form>

{% endblock %}